.messageSendingScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.messageContainer {
  width: 80%;
  height: 700px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.textAreaDiv {
  background: none;
  margin-right: 20px;
}
h3 {
  background: none;
}

.sendMessageBtn {
  width: 100px;
  height: 45px;
  background-color: rgb(237, 237, 237);
  background: rgb(219, 219, 219);
  color: white;
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
