* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.becomeArtisanBtn {
  padding: 1rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  /* width: 10px; */
  text-align: center;
  height: 60px;
  margin-left: 20px;
  background-color: transparent;
  margin-top: 10px;
  border-radius: 20px;
  font-weight: 500;
  outline: none;
  transition: 0.2s ease;
  font-size: 20px;
  border: 1px solid black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.becomeArtisanBtn:hover {
  background-color: black;
  color: white;
  cursor: pointer;

}
nav {
  padding: 0;
  margin: 0;
}

#navbar {
  margin: 0;
  padding: 0;
}

#navItem {
  margin: 2px;
  font-size: 18px;
  padding: 10px;
  transition: 0.3s ease-in-out;
}

#navItem:hover {
  background: peachpuff;
  border-radius: 15px;
  cursor: pointer;
}
